// Import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:wght@300;400&family=Roboto+Slab:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: 'Roboto Slab', serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";



// font-family: 'Lobster Two', cursive;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Roboto Slab', serif;