#service.container-page > * {
  padding: 0.5rem 0;
}

.search-link {
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;

  svg {
    margin: 0 3px 2px 0;
  }
}
.search-link:hover {
  color: #333333;
}

.service-header {
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: 600;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem
  }
}
.service-address {
  font-family: 'Roboto Mono', monospace;
}

.service-rating {
  margin-bottom: 2rem;

  a {
    color: black;
    text-decoration: underline !important;
  }
  a:hover {
    color: #0000ff;
  }
  svg {
    color: #ffc600;
    font-size: 18px;
    margin: 0 8px 3px 0;
  }
  .rating-line {
    height: 12px;
    width: 1px;
    margin: 8px;
    color: #e6e6e6;
  }
}

.wrap-image {
  width: 100%;
  border-radius: .25rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.service-images {
  max-height: 60vw;
}

#service section {
  padding: 3rem 0 !important;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.provider-image {
  max-height: 300px;
}

.service-provider-info > * {
  margin: 1rem 0;
}

.tag {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin-right: 5px
}

.service-map {
  margin-top: 1.5rem;
}

.service-booking-mobile {
  position: sticky;
  width: 100%;
  padding: 0;
  bottom: 0;
  border-top: 1px solid #b3b3b3;
  background: #fff;
  z-index: 2;
  padding: 1rem;
}

.service-booking {
  display: none;
  width: 30%;
  margin: 0 12px;
  position: sticky;
  top: 0;
  h1, p, h6 {
    margin-bottom: 1rem;
  }
  h6 {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
  }
  form {
    padding: 2rem 1.5rem 1.5rem;
    display: block;
    border-radius: .25rem;
    border: 1px solid #e3e3e3;
    background-color: #f7f7f7;
    position: sticky;
    top: 10px;
  }
}

@media (min-width: 600px) {
  .service-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .service-address {
      text-align: right;
    }
  }
  .service-provider {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px 20vw 100px;
  }
  .provider-image {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    z-index: 1;
    
  }
  .service-provider-info {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    background: #f7f7f7;
    display: grid;
    align-content: center;
    padding-left: 13vw;
    padding-right: 5vw;
  }
}

@media (min-width: 1000px) {
  .service-booking-mobile {
    display: none;
  }
  .service-body {
    display: flex;
    justify-content: space-between;
  }
  .service-booking {
    display: block;
  }
  .service-content {
    width: 65%;
  }
  .service-provider-info {
    padding-left: 9vw;
  }

}