.reviews-box {
  text-align: center;
  padding: 20px;
}

.reviews-card{
  margin: 20px;
  width: 90%;
  border-top: 16px;
  background: #f8f9fa;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h3 {
    padding: 12px;
    border-bottom: 3px solid #F4F4F4;
  }
}

.review {
  display: flex;
  flex-direction: column;
}

