
<h2>all booking</h2>
  <% @bookings.each do |b| %>
    <p><%= b.message %></p>
  <% end %>
<h2>all booking</h2>
  <% @bookings_req_you.each do |b| %>
    <p><%= b.message %></p>

  <% end %>
<h2>all booking</h2>
  <% @bookings_for_you.each do |b| %>
    <p><%= b.message %></p>

  <% end %>
