

<h2>Service created that I'm going to provide</h2>
  <% @bookings_by_you.each do |b| %>
    <p><%= b.message %></p>

  <% end %>
<h2>Requests I've got from people who booked my service</h2>
  <% @bookings_for_you.each do |b| %>
    <p><%= b.message %></p>

  <% end %>
