<div class="container-page">

  <div class="container-booking">
    <h1>Bookings</h1>
    
    <div class="tabs">
      <button class="active">Sent</button>
      <button>Received</button>
    </div>

    <div class="tab-panel active">
      <div class="cards-booking">
        <% @bookings_by_you.each do |b| %>
          <%= render 'outgoing_card', b: b %>
        <% end %>
      </div>
    </div>

    <div class="tab-panel">
      <div class="cards-booking">
        <% @bookings_for_you.each do |b| %>
          <%= render 'incoming_card', b: b %>
        <% end %>
      </div>
    </div>

  </div>

</div>