<div class="footer">
  <div class="footer-content">
    <p>Open source project built with Joy, Love & Caffine.</p>
    <div class="social_links">
      <a href="https://github.com/Carms-dev/NewcomerWorks"><span class="iconify" data-icon="ant-design:github-filled" data-inline="false"></span></a>
      <a href="https://github.com/Carms-dev/NewcomerWorks"><span class="iconify" data-icon="ant-design:instagram-outlined" data-inline="false"></span></a>
      <a href="https://github.com/Carms-dev/NewcomerWorks"><span class="iconify" data-icon="bx:bxl-facebook" data-inline="false"></span></a>
    </div>
  </div>
</div>