<div class="container-page" id="home">
  <h1 class="tag-line screen-sm">Celebrate results. Not papers.</h1>
  <div class="home-img">
    <%= image_tag("undraw_hire_te5y.png") %>
  </div>

  <div class="home-content">
    <h1 class="tag-line screen-lg">Celebrate results. Not papers.</h1>
    <ul class="home-list screen-lg">
      <li>Integrate newcomers into our community</li>
      <li>Break down barrier to entry</li>
      <li>Make a friend!</li>
    </ul>
    <div class="home-search">
        <form method="get" action="/services">
          <div class="search-input">
            <p class="search-label">Find Talents Now</p>
            <span class="iconify" data-icon="ei:search" data-inline="false"></span>
            <input type="text" class="form-control" name="search" placeholder="Try Life Coach, Healer and more.">
          </div>
          <div class="search-input">
            <span class="iconify" data-icon="et:map-pin" data-inline="false"></span>
            <select name="location" id="location">
              <option value="Montreal">Montreal</option>
              <%# <option value="Toronto">Toronto</option> %>
            </select>
          </div>
          <button class="btn-lg-blue" type="submit">Search</button>
        </form>
    </div>
  </div>
</div>
