<% content_for :navbar do %>
    <%= render 'shared/navbar_home' %>
<% end %>

<div class="home-banner">
  <div class="container">
    <div class="banner-content">
      <h1>The Unlicensed</h1>
      <h3>Celebrate results. Not papers.</h3>
      <h6>Find unlicensed talents from your local migrant community now!</h6>
<!--       <form class="form-inline" method="get" action="/services">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search" id="search-input">
        <button class="small-btn my-2 my-sm-0" type="submit">Search</button>
      </form>
 -->

      <form class="input-group mb-3" method="get" action="/services">
        <input type="text" class="form-control" name="search" placeholder="Life Coach, Traditional Healer, Cannabis Magician, etc">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
        </div>
      </form>

    </div>
  </div>
</div>


