.button {
  width: 250px;
  height: 65px;
  background: $white;
  border: 1px solid $d-purple;
  border-radius: 5px;
  padding: 6px 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: $d-purple;
}

.button:hover {
  text-decoration: none;
  background-color: $d-purple;
  color: $white;
}

.small-btn {
  width: 155px;
  height: 42px;
  background: $white;
  border: 1px solid $d-purple;
  border-radius: 5px;
  padding: 6px 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: $d-purple;
  text-decoration: none;
}

.small-btn:hover {
  text-decoration: none;
  background-color: $d-purple;
  color: $white;
}


#nav-btn {
  width: 130px;
  height: 35px;
  margin-left: 8px;
  margin-right: 16px;
  background: $white;
  border: 1px solid $d-purple;
  border-radius: 5px;
  padding: 3px 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: $d-purple;
  text-decoration: none;
}

#nav-btn:hover {
  text-decoration: none;
  background-color: $d-purple;
  color: $white;
}


