a {
  text-decoration: none !important;
}

h1 {
  margin: 10px 0;
}

#search-header {
  padding: 100px 0;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1450609283058-0ec52fa7eac4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  // background-color: $d-purple;
  color: white;
  text-align: center;
}

.box-result {
  margin-top: 40px;
  display: flex;
}

.map-right {
  margin-right: 40px;
}

.cards-left {
  flex-grow: 1;
}
.card-long {
  background-color: white;
  border-radius: 8px;
  // box-shadow: 4px 4px 8px $l-purple;
  padding: 25px;
  margin: 0px 40px 40px 40px;
  display: flex;
  cursor: pointer;
  border: 1px solid #230444;

  img {
    width: 400;
    height: 300;
    object-fit: cover;
  }
}

.card-long-info {
  padding-left: 15px;
  position: relative;
  flex-grow: 1;

  h3 {
    color: $d-purple;
    font-weight: bold;
  }
  #price {
    position: absolute;
    bottom: -5;
    right: 0;
    font-size: 24px;
  }
  #provider {
    position: absolute;
    top: 0;
    right: 0;

    #provider-info {
      display: flex;
      align-items: center;
    }
    img {
      margin-left: 10px;
    }
    h6 {
      font-size: 18px;
      color: $d-purple;
    }
  }
}
