.container-page {
  max-width: 1320px;
  margin: 0 auto;
  padding: 16px 16px 130px 16px;
}

@media (min-width: 600px) {
  .container-page {
    padding-bottom: 106px;
  }
}

@media (min-width: 800px) {
  .container-page {
    padding-bottom: 62px;
  }
}

