.review-box {
  margin-top: 80px;
  background: white;
  text-align: center;
  border: 1px solid #230444;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.review-provider h6 {
  margin-top: 10px;
  color: $d-purple;
  font-size: 24px;

}

.formboxcenter{
  display: flex;
  justify-content: center;
}

.button-center{
  display: flex;
  justify-content: center;
}

.formbox {
  padding:15px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10),
      0 10px 10px rgba(0,0,0,0.10);
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

// input[type="submit"] {
//   margin-left: auto;
//   margin-right: auto;
//   border-radius: 30px;
//   padding: 14px;
//   color:rgba(130, 130, 130  , 2);
//   background-color: transparent;
//   border: 2px solid rgba(130, 130, 130  , 0.7);
//   &:hover {
//       color:#4c4c4c;
//       border-color: #727272;
//   }
// }

