.container-form {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  padding: 16px;
  max-width: 450px;
  margin: 0 auto;
}

.form-img {
  margin: 30px auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}

#sign-up .form-img {
  max-height: calc(100vh - 730px);
}

.form-content {
  background: rgba(255, 255, 255, 0.9);
  h1 {
    font-size: 30px;
  }
}

.form-inputs {
  margin-top: 20px;
  font-size: 14px;
}

.form-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;

  .input-long {
    grid-column: span 2;
  }
  .login-form-input {
    margin: 0;
  }
  .photo-label {
    margin: 0;
  }
}

.login-form-input {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #AFAFAF !important;
  border-radius: 5px;
  height: 50px;
  padding: 10px;

  .login-input {
    background: transparent !important;
    border: none !important;
  }

  .login-input:focus {
    background: transparent !important;
    outline: none !important;
  }

  .form-control:focus {
    border-color: inherit !important;
    box-shadow: none !important;
  }

  .login-label {
    position: absolute;
    background: white;
    top: -13px;
    left: 8px;
    font-family: 'Roboto Mono', monospace;
    color: #0000ff;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.btn-sm-blue {
  margin-top: 15px;
  border-radius: 5px;
  background: #0000ff;
  color: white !important;
  border: none;
  width: 40%;
  font-size: 15px;
  height: 50px;
  transition: 0.5s;
}

.btn-sm-blue:hover {
  background: #0000cc;
}

.form-links {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-between;

}

// sign up devise page
.photo-label {
  background: #eee;
  cursor: pointer;
  text-align: center;
  margin: 20px 0;
  display: grid;
  place-content: center center;
  border: 1px solid #AFAFAF !important;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #0000ff;
}

.photo-input {
  display: none !important;
  width: 100%;
  padding: 10px;
  position: relative;
  text-align: center;
}

@media (min-width: 875px) {
  .container-form {
    flex-direction: row;
    max-width: 1320px;
    align-items: center;
  }
  .container-form > * {
    flex: 1;
    margin: 60px;
  }
}


