// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "service_card";
@import "booking_card";
@import "container";
@import "footer";
@import "form";
@import "map";
@import "modal";
@import "navbar";
@import "search";
@import "review";
@import "tab";


.carousel-inner{
  width:100%;
  max-height: 600px !important;
}

.blue {
  color: #0000ff !important;
}
.blue:hover {
  color: #0000cc !important;
}