.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $d-purple;
  z-index: 1;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-id-badge {
  color: $d-purple;
}

span {
  color: $d-purple;
  margin-left: 10px;
}
