// Home Page Navbar revamp

.navbar-home {
  justify-content: space-between;
  background: white;
  padding: 20px;
}

.nav-logo {
  color: black;
  font-family: 'Lobster Two', cursive;
  font-size: 24px;

  span {
    color: #0000ff;
  }
}
.nav-logo:hover {
  color: black;
}

.blue {
  color: #0000ff !important;
}
.blue:hover {
  color: #0000cc !important;
}
.nav-item {
  font-family: 'Roboto Mono', monospace;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.navbar-collapse {
  flex-grow: 0 !important;
}