.profile-card {
  margin: auto 0;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 685px;
  height: 615px;
  background: $white;
  border: 1px solid $d-purple;
  box-sizing: border-box;
  border-radius: 8px;
}
