.reviews-box {
  text-align: center;
  padding: 20px;
}

.reviews-card{
  margin: 20px;
  width: 90%;
  border-top: 16px;
  background: #f8f9fa;
  padding: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h3 {
    padding: 12px;
    border-bottom: 3px solid #F4F4F4;
  }
}

.review {
  display: flex;
  flex-direction: column;
}

.profile-card-reviews {
  margin: auto 0;
  margin-top: 80px;
  margin-bottom: 24px;
  margin-left: 8px;
  text-align: center;
  width: 600px;
  height: 500px;
  background: #FFFFFF;
  border: 1px solid #230444;
  box-sizing: border-box;
  border-radius: 8px;
}

.tab-header {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.tab-header span {
  margin-left: 0;
}

#tab-review-received {
  width: 300px;
  background: $d-purple;
  color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 8px 0px 0px 0px;
}

#tab-review-written {
  width: 300px;
  background: $d-purple;
  color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 0px 8px 0px 0px;
}
